<h1>Places I've Been</h1>
<br>
<form action="/newmemory" method="post">
  <label for="cityMemory">Add a memory</label>
  <input id="cityMemory" name="cityMemory" type="text">
  <button type="submit">Submit</button>
</form>